@use "../../scss/" as *;

.movie-list {
    .swiper-slide {
        width: 15% ;
        // padding: 0 30px;

        @include tablet {
            width: 30%;
        }
    
        @include mobile {
            width: 40%;
        }
    }
}